<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Madhu suite">
  <test  name="Madhu test">
    <classes>
      <class name="testing.Selenium.MadhuFirstTest"/>
    </classes>
  </test> 
<test  name="Madhusecond test">
    <classes>
      <class name="testing.Selenium.MadhuSecondTest2"/>
    </classes>
  </test> 
<!-- Default test -->
</suite> <!-- Default suite -->